<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<title>Reset Password</title>
</head>
<style>
.navbar {
	background-color: green;
}
</style>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#" th:href="@{/login}">Registration and
				Login</a>
		</div>
	</div>
</nav>
<br>
<br>
<br>
<br>
	<div class="container">
		<h1>Reset Password</h1>
		<br />

		<form th:action="@{/resetPassword}" action="#" method="post" class="form-horizontal" th:object="${forgotUser}">
			<div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger">Message</div>
			<!-- use of security questions to reset pasw -->
			<div class="form-group">
				<label class="control-label col-xs-2" for="question">Security Question:</label>
				<div class="col-xs-10" id="question" name="question">
					<span th:text="${model.question}"></span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-2" for="answer">Answer</label>
				<div class="col-xs-10">
					<input id="answer" type="text" name="answer"/>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-xs-2" for="username">Username</label>
				<div class="col-xs-10">
					<input id="username" type="username" name="username" />
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-xs-2" for="newPassword">New Password</label>
				<div class="col-xs-10">
					<input id="newPassword" type="newPassword" name="newPassword" />
				</div>
			</div>

			<div class="form-actions col-xs-offset-2 col-xs-10">
				<input type="submit" class="btn btn-primary" value="Reset Password" />
			</div>
		</form>
		
		<br />
		<a class="btn btn-primary" th:href="@{/login}">Sign In</a>
	</div>
</body>
</html>